.main-page {
  margin-top: 50px;
}
.my-form {
  width: 500px;
}
.header-image {
  height: 400px;
  background-image: url(/assets/header12.jpg);
  background-size: cover;
}
.header-content {
  font-size: 75px;
  padding-top: 150px;
}
